<!DOCTYPE html>
<html>
<head>
  <title>Which Fruit Are You - Results</title>
  <link rel="icon" href="http://icons.iconseeker.com/png/fullsize/market/fruits.png">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body class="result">
  
  <div class="container">
    <center><h1>You are an apple!</h1>
    <img src="http://pngimg.com/upload/apple_PNG2577.png"/>
    <p>.</p>
    <a href="/"><div class="btn btn-warning">Play again?</div></a></center>
  </div>
</body>
</html>