<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href="../public/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  
  <div class="container home">
    <center><h1>What Fruit Are You?</h1></center>
    <img src="http://www.clipartbest.com/cliparts/MTL/GeR/MTLGeRXac.png"/>
    <p>Choking on fruit? Call the pear-emetics.</p>
    <a href="personality.erb"><div class="btn btn-warning">Click Ripe Now</div></a>
  </div>

</body>
</html>