<!DOCTYPE html>
<html>
<head>
  <title>Which Fruit Are You - Results</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
  
  <div class="container home">
    <center><h1>You are an Orange!</h1></center>
    <img src="http://pngimg.com/upload/orange_PNG774.png"/>
    <p>Orange Joke.</p>
    <a href="/"><div class="btn btn-warning">Play again?</div></a>
  </div>
</body>
</html>