<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <form action="/questions" method="POST">
      <div class="form-group">
        <center><label><h2>What is Your Name?</h2></label></center>
        <input type="text" class="form-control" id="name_input" placeholder="Enter Your Name">
      </div>

      <center><label><h2>What is Your Favorite Color?</h2></lablel></center>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="fav_color" value="red" checked>
            <div class="box red"></div>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="fav_color" value="purple">
            <div class="box purple"></div>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="fav_color" value="green">
            <div class="box green"></div>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="fav_color" value="orange">
            <div class="box orange"></div>
          </label>
        </div>
      </div>

      <center><lable><h2>Are You a Optimist, Pessimist, or Neutral?</h2></lable></center>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="type" value="optimist" checked>
            <img src="http://wakeuptiger.files.wordpress.com/2014/08/glass-half-full1.jpg" class="box"/>
            <center><h2>Half Full</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="type" value="pessimist">
            <img src="http://wakeuptiger.files.wordpress.com/2014/08/glass-half-full1.jpg" class="box"/>
            <center><h2>Half Empty</h2></center>
          </label>
        </div>
      </div>

      <center><label><h2>What Creature Do You Like?</h2></label></center>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="lizard" checked>
            <img src="http://a.tgcdn.net/images/products/additional/large/1107_unicorn_head_mask_inuse.jpg" class="box"/>
            <center><h2>Unicorn</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="dog">
            <img src="http://cdn.pastemagazine.com/www/blogs/lists/23-Godzilla-Kaiju-Minilla.jpg" class="box"/>
            <center><h2>Godzilla</h2></center>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="cat">
            <img src="http://www.combogamer.com/wp-content/uploads/2014/11/King-Kong-1933-2.jpg" class="box"/>
            <center><h2>King Kong</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="bear">
            <img src="http://cdn.dstv.com/mms.dstv.com/content/images/dstv/201011/lg/bom_freewilly.jpg" class="box"/>
            <center><h2>Willy</h2></center>
          </label>
        </div>
      </div>

      <center><label><h2>What is Your Favorite Taste?</h2></label></center>
      <div class="row"> 
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="lizard" checked>
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Sweet</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="dog">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Salty</h2></center>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="cat">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Sour</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="bear">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Bitter</h2></center>
          </label>
        </div>
      </div>

      <div class="row"> 
        <center><label><h2>What is Your Favorite Genre?</h2></label></center>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="lizard" checked>
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Action</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="dog">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Comedy</h2></center>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="cat">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Romance</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="bear">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Horror</h2></center>
          </label>
        </div>
      </div>

      <div class="row"> 
        <center><label><h2>What is Your Favorite Subject?</h2></label></center>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="lizard" checked>
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Math</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="dog">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>ELA</h2></center>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="cat">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Science</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="bear">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Social Studies</h2></center>
          </label>
        </div>
      </div>

      <center><label><h2>What is Your Dream Job?</h2></label></center>
      <div class="row"> 
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="lizard" checked>
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Fire Fighter</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="dog">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Musician</h2></center>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="cat">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Teacher</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="bear">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Wrestler</h2></center>
          </label>
        </div>
      </div>

      <center><label><h2>What is Kind of Car Do You Like?</h2></label></center>
      <div class="row"> 
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="lizard" checked>
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Cheap and Affordable</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="dog">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Fast and Furious</h2></center>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="cat">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Broken and Pulpy</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="bear">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Sturdy and Reliable</h2></center>
          </label>
        </div>
      </div>

      <center><label><h2>What Superpower Would You Like?</h2></label></center>
      <div class="row"> 
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="lizard" checked>
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Laser Eyes</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="dog">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Invisibility</h2></center>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="cat">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Flight</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="bear">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Become a Door</h2></center>
          </label>
        </div>
      </div>

      <center><label><h2>How Would You Describe Yourself?</h2></label></center>
      <div class="row"> 
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="lizard" checked>
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>An Average Joe</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="dog">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>A Cool Cat</h2></center>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="cat">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Exxxxtreme</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="bear">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Worthless</h2></center>
          </label>
        </div>
      </div>

      <center><label><h2>What Do You Do in Your Free Time?</h2></label></center>
      <div class="row"> 
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="lizard" checked>
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Read</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="dog">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Play Sports</h2></center>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="cat">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Chill</h2></center>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="animal" value="bear">
            <img src="http://placehold.it/300x300/cdcdcd" class="box"/>
            <center><h2>Bully Others</h2></center>
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</body>
</html>