<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href="../public/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  
  <div class="container home">
    <form action="/questions" method="POST">
      <p>What is Your Name?</p>
      <input type="text" name="name" placeholder="name">
      <p>What is Your Favorite Color?</p>
      <input type="radio" name="fav_color" value="red">
      <p>red</p>
      <input type="radio" name="fav_color" value="purple">
      <p>purple</p>
      <input type="radio" name="fav_color" value="green">
      <p>green</p>
      <input type="radio" name="fav_color" value="orange">
      <p>orange</p>
      <p>Question 3</p>
      <input type="radio">
      <input type="submit">
    </form>
  </div>

</body>
</html>