<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <form action="/questions" method="POST">
      <div class="form-group">
        <center><label><h2>What is Your Name?</h2></label></center>
        <input type="text" class="form-control" id="name_input" placeholder="Enter Your Name">
      </div>
      <div class="row">
        <center><label><h2>What is Your Favorite Color?</h2></lablel></center>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="fav_color" value="red" checked>
            <div class="box red"></div>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="fav_color" value="purple">
            <div class="box purple"></div>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="fav_color" value="green">
            <div class="box green"></div>
          </label>
        </div>
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="fav_color" value="orange">
            <div class="box orange"></div>
          </label>
        </div>
      </div>
      <lable>Are You a Optimist, Pessimist, or Neutral?</lable>
      <div class="radio">
        <label>
          <input type="radio" name="type" value="optimist" checked>
          Optimist
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="type" value="Pessimist">
          Pessimist
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="type" value="Neutral">
          Neutral
        </label>
      </div>
      <label>What Creature Do You Like?</label>
      <div class="radio">
        <label>
          <input type="radio" name="animal" value="lizard" checked>
          Unicorn
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="animal" value="dog">
          Godzilla
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="animal" value="cat">
          King Kong
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="animal" value="bear">
          Willy
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

</body>
</html>