body{
  font-family: 'Indie Flower', cursive;
}
.fruit{
  border: double black 10px;
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 10px;
  text-align: center;
}
img{
  width: 250px;
  height: 250px;
}
input{
  display: inline-block;
}
.box{
  height: 300px;
  width: 450px;
  border-radius:10px;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.purple{
  background-color: purple;
}