body{
  font-family: 'Indie Flower', cursive;
  background-color:orange;
}
h1{
  font-size: 56px;
}
p{
  font-size: 26px;
}
img{
  width: 150px;
  height: 150px;
  margin: 10px;
}
.home{
  text-align: center;
  box-shadow: red;
}