body{
  font-family: 'Indie Flower', cursive;
  padding: 1.5em 0;
    background: #000; 
}

.fruit{
  border: double black 10px;
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 10px;
  text-align: center;
}
img{
  width: 250px;
  height: 250px;
}
input{
  display: inline-block;
}
.box{
  height: 300px;
  width: 450px;
  border-radius:10px;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.purple{
  background-color: purple;
}
section{
  margin: 2em 0;
  padding: 1.5em;
  border-radius: .5em;
}
section:nth-of-type(odd){
  background: #e6e6e6; 
}

section:nth-of-type(even){
  background: #fff; 
}
.header h1{
  font-size: 60px ;
  color: #FFF;
  font-weight: bolder;
}
button{
  height: 60px;
  width: 100%;
  font-size: 30px;
}

.result {
  margin-left:auto;
  margin-right:auto;
  background-color:white;
}